// Web Imports
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;300;400&display=swap');


// Local Imports
@import "~bootstrap/scss/bootstrap";

// Variables

$bodyBackground: #e5e5e5;
$primaryColor: #6bac2a;
$secondaryColor: #F2F2F2;
$sectionLightBg : #ffffff;
$sectionDarkBg : #111111;
$logoColor : #FFFFFF;
$taglineColor : #9b9b9b;
$cardSubheadColor : #000000aa;
$darkProjectCardText : #868686;

html, body {
  min-height: 100%;
}

// Elements

h1, h2 {
  font-family: "Oswald";
  font-weight: 100;
}

.cs_progressBar {
  width: 100%;
  background: #2c2c2c;
  border-radius: 10px;
  margin: 10px 0;
  .cs_progressBarValue {
    background: $primaryColor;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    text {
      color: white;
    }
  }
}

a {
  color: white;
  transition: 0.2s ease-out;
  &:hover {
    color: $primaryColor;
    transition: 0.2s ease-in;
  }
}

.badge-primary {
  background-color: $primaryColor !important;
}

.bg-custom-primary {
  background-color: $primaryColor !important;
}

p {
  margin: 0 !important;
}

// Brand and subhead
.cs_brand {
  font-family: "Bellefair";
  font-weight: 100 !important;
  font-size: 60px;
  text-align: center;
  display: block;
  margin-top: 60px;
  cursor: default;
  color: $logoColor;
}

.cs_subhead {
  cursor: default;
  text-align: center;
  font-weight: 500;
  color: $taglineColor;
}

.cs_text_header {
  background: $sectionDarkBg;
  padding: 50px;
}

.cs_headerBar {
  background-color: black;
  border-bottom: 3px solid $primaryColor;
  padding: 0;
  .nav-link {
    padding: 17px 27px !important;
    &.active {
      background: $primaryColor;
    }
  }
}

// Text Sections

.cs_Section {
  padding: 50px 0;

  & .cs_Headline {
    font-family: "Oswald";
    cursor: default;
    padding-bottom: 10px;
  }

  & .cs_Text {
    cursor: default;
  }

  .cs_ProjectCard_details {
    margin-top: 9px;
  }

  .customBadge {
    margin-left: 10px;
    &:first-of-type {
      margin: 0 !important;
    }
  }

  &.light {
    background: $sectionLightBg;
    .cs_ProjectCard:hover {
      box-shadow: 0 0 10px 0 darken($sectionLightBg, 30%);
    }
    .cs_Headline {
      border-bottom: 1px solid #eee;
    }
    .cs_Text {
      font-family: "Roboto";
    }
  }
  &.dark {
    background-color: $sectionDarkBg;
    color: white;
    .cs_ProjectCard:hover {
      box-shadow: 0 0 10px 0 black;
    }
    h3,h4 {
      font-family: "Oswald";
      margin-top: 10px;
    }
    .cs_Headline {
      color: white;
      border-bottom: 1px solid #353535;
    }
    .cs_Text {
      color: white;
    }
    .cs_ProjectCard {
      p {
        color: $darkProjectCardText;
      }
    }
  }
}

// Project Scroller and Card

.cs_ProjectScrollerSlidingArea {
  scroll-behavior: smooth;
  padding: 20px 0;
  width: 100%;
  a {
    color: unset;
    &:hover {
      text-decoration: none;
    }
  }
}

.cs_ProjectCard {
  padding: 8px;
  border: 1px solid transparent;
  transition: 0.2s ease-out;
  border-radius: 10px;
  &:hover {
    transition: 0.2s ease-in;
    transform: scale(1.02);
  }
  img {
    border-radius: 5px;
  }
  p {
    color: $cardSubheadColor;
  }
}

// CustomCarousel
.cs_CarouselContainer {
  border-radius: 10px;
  overflow: hidden;
}

// Footer
@media only screen and (max-width: 600px) {
  .chatButton {
    width: 100%;
    margin-bottom: 7px;
    margin-left: 0 !important;
  }
  .footerCopyrightContainer, .footerLinksContainer {
    text-align: center !important;
    p {
      padding-bottom: 10px;
    }
  }
}
 
.footerLinks {
  color: white;
  margin: 0 10px;
}

.cs_footer {
  border-top: 3px solid $primaryColor;
}

// Home Page
.cs_homeHeader {
  padding:60px 0;
  background: linear-gradient(to right, #076585, #00cfff) !important;
  color: white;
}

// Responsive
@media only screen and (max-width: 991px) {
  .container {
    max-width: 920px !important;
  }
  .cs_headerBar {
    padding: 12px;
    .navbar-toggler {
      color: $primaryColor;
    }

    .nav-link:first-child {
      margin-top: 21px;
    }
  }
}