// Web Imports
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


// Local Imports
@import "~bootstrap/scss/bootstrap";

// Variables

$bodyBackground: #e5e5e5;
$primaryColor: #ff796b;
$sectionLightBg : #ffffff;
$sectionDarkBg : #242a2d;

.badge-primary {
  background-color: $primaryColor !important;
}

.bg-custom-primary {
  background-color: $primaryColor !important;
}

body {
  background-color: $bodyBackground;
}

p {
  margin: 0 !important;
}

// Brand and subhead
.cs_brand {
  font-family: "Bellefair";
  font-weight: 100 !important;
  font-size: 60px;
  text-align: center;
  display: block;
  cursor: default;
}

.cs_subhead {
  cursor: default;
  text-align: center;
  font-weight: 500;
}

// Text Sections

.cs_Section {
  padding: 25px;
  border-radius: 11px;
  box-shadow: 0 5px 10px -9px;
  margin: 10px 0;

  & .cs_Headline {
    font-family: "Oswald";
    cursor: default;
    padding-bottom: 10px;
  }

  & .cs_Text {
    cursor: default;
  }

  &.light {
    background: $sectionLightBg;
    .cs_ProjectCard:hover {
      border-color:#d4d4d4;
    }
    .cs_Headline {
      border-bottom: 1px solid #eee;
    }
    .cs_Text {
      font-family: "Roboto";
    }
  }
  &.dark {
    background-color: $sectionDarkBg;
    color: white;
    .cs_ProjectCard:hover {
      border-color:#5c5c5c;
    }
    h3,h4 {
      font-family: "Oswald";
      margin-top: 10px;
    }
    .cs_Headline {
      color: white;
      border-bottom: 1px solid #5b5b5b;
    }
    .cs_Text {
      color: white;
    }
  }
}

// Project Scroller and Card

.cs_ProjectScrollerSlidingArea {
  width: auto !important;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 20px 0;
}

.cs_ProjectCard {
  padding: 8px;
  border: 1px solid transparent;
  transition: 0.2s ease-out;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    border: 1px solid;
    transition: 0.2s ease-in;
    transform: scale(1.02);
  }
  img {
    border-radius: 5px;
  }
}

.cs_ProjectCard_details {
  margin: 10px 0;
}